tqdm
openai
python-dotenv
numpy
networkx
graspologic
# tiktoken  # 内网版本不需要
# transformers  # 内网版本不需要  
# torch  # 内网版本不需要
pyecharts
wikipedia
tenacity
nltk
jieba
plotly
pandas
gradio>=5.44.1
kaleido
pyyaml
langcodes
requests
fastapi
trafilatura

leidenalg
igraph
python-louvain

# For visualization
matplotlib